.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.p-4 {
  padding: 3rem; /* معادل 16px */
}

.bg-blue-200 {
  background-color: #bfdbfe; /* رنگ آبی روشن */
}

.flex-1 {
  flex: 1 1 0%;
}

.bg-state-100 {
  background-color: #fee2e2; /* رنگ به حالت متفاوت */
}
